@@ -5,7 +5,7 @@
}

.standardSidebarView-3F1I7i {
  background-image: url(https://wallpapercave.com/wp/wp2490596.jpg);
  background-image: url(https://hdqwalls.com/download/anime-cityscape-landscape-scenery-5k-r6-1920x1080.jpg);
  background-size: cover;
}
